.footer_con{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #000000;
    color: #fff;
    & p{
        font-size: 12px;
    }
    & ul{
        display: flex;
        list-style: none;
        gap: 20px;
        & li,span {
            color: #fff;
            text-decoration: none;
            & a{
                gap: 8px;
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 12px;
            & svg{
                color: #fff;
                width: 20px;
                height: 20px;
            }
        }
    }
}
}

@media screen and (max-width:768px) {
    .footer_con{
        flex-direction: column-reverse;
        & p{
            margin: 20px auto 0;
        }
        & ul{
            flex-direction: column;
            align-items: center;
    }
    }



}
